@import '@fortawesome/fontawesome-free/css/all.css';

.preview-modal {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: .25rem;
    width: 80rem;
    height: 40rem;/* Set a maximum width if desired */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.preview-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .preview-modal-tbl-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    padding: 1rem;
}
  .preview-modal-tbl-container {
    display: flex;
    flex-direction: column;
    max-height: 20rem;
    overflow-x: scroll;
  }
  .table-scroll-container {
    overflow-x: auto; /* Enable horizontal scrolling for the table container */
    max-width: 100%; /* Ensure the container does not exceed the modal width */
}
  .preview-tbl {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    overflow-x: scroll;
}
.preview-tbl th, 
.preview-tbl td {
    max-width: 150px; /* Adjust the width as needed */
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .25rem;
    text-align: left;
}

.preview-tbl th {
    background-color: #f4f4f4;
    font-weight: bold;
    font-size: 16px;
}
.preview-tbl td {
    font-size: 14px;
}

.preview-tbl tr:nth-child(even) {
    background-color: #f9f9f9;
}

.preview-tbl tr:hover {
    background-color: #f1f1f1;
}
.preview-modal-header-title {
    display: flex;
    background-color: #ebebeb;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
}
.preview-modal-header-title h3 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.preview-modal-header-ctrl {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.pagination-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
.btn-firstpage i, .btn-prevpage i, .btn-nextpage i, .btn-lastpage i {
    font-size: 1rem;
    color: #000;
}
.btn-firstpage, .btn-prevpage {
    /* Padding on top, right, and bottom, but not on left */
    margin: 0rem .5rem 0rem 0rem;
}
.btn-nextpage, .btn-lastpage {
    /* Padding on top, right, and bottom, but not on left */
    margin: 0rem 0rem 0rem .5rem;
}
.preview-modal-body {
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
}
.preview-modal-ctrl-section {
    display: flex;
    background-color: #fff;
    justify-content: end;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
}