@import '@fortawesome/fontawesome-free/css/all.css';

.ADM-MM-General-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.ADM-MM-General-header {
    display: flex;
    flex-direction: column;
    /* Padding on top, right, and bottom, but not on left */
    padding: .5rem 1rem .5rem 1rem;  
    background-color: #fff;
}
.ADM-MM-General-header-ctrl {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5rem 0rem .5rem 0rem;  
}
.ADM-MM-General-header-search {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: .5rem 0rem .5rem 0rem;  
}
.ADM-MM-General-header-upload {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: .5rem 0rem .5rem 0rem; 
}
.ADM-MM-General-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #fff;
    padding: 0rem 1rem 0rem 1rem; 
}
.ADM-MM-General-tbl-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.ADM-MM-General-tbl-container {
    display: flex;
    flex-direction: column;
    max-height: 60rem;
    overflow-x: auto; /* Default state */
}
.ADM-MM-General-tbl-container.no-data {
    overflow-x: hidden; /* When no data is available */
}
.gen-media-tbl {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    overflow-x: scroll;
}
.gen-media-tbl th, 
.gen-media-tbl td {
    max-width: 150px; /* Adjust the width as needed */
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .25rem;
    text-align: left;
}

.gen-media-tbl th {
    background-color: #f4f4f4;
    font-weight: bold;
    font-size: 16px;
}
.gen-media-tbl td {
    font-size: 14px;
}

.gen-media-tbl tr:nth-child(even) {
    background-color: #f9f9f9;
}

.gen-media-tbl tr:hover {
    background-color: #f1f1f1;
}

.loading-indicator, .no-data-indicator {
    text-align: center;
    font-size: 1.2em;
    color: #666;
    padding: 2rem;
}
.preview-indicator {
    font-weight: bold;
    color: #007bff; /* Change to your desired color */
    text-align: center;
    margin-bottom: 1rem;
}
.ADM-MM-General-page-ctrl {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}
.filter-controls {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}
.column-group {
    display: flex;
    flex-direction: column;
    padding: .5rem;
}
.group-label-container {
    display: flex;
    flex-direction: row;
    padding: .5rem;
}
.group-label {
    display: flex;
    flex-direction: row;
}
.checkbox-label {
    font-size: 14px;
}
.pagination-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
.btn-firstpage i, .btn-prevpage i, .btn-nextpage i, .btn-lastpage i {
    font-size: 1rem;
    color: #000;
}
.btn-firstpage, .btn-prevpage {
    /* Padding on top, right, and bottom, but not on left */
    margin: 0rem .5rem 0rem 0rem;
}
.btn-nextpage, .btn-lastpage {
    /* Padding on top, right, and bottom, but not on left */
    margin: 0rem 0rem 0rem .5rem;
}

.ADM-MM-General-footer {
    
}