.adminloginpage-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.adminloginpage-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.adminloginpage-body {
    display: flex;
    height: 1080px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.adminloginpage-form-section {

}
.adminloginpage-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.adminloginpage-form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.adminloginpage-form-label {
    display: flex;
    margin: .25rem;
}
.adminloginpage-form-control {
    margin: .5rem;
}
.adminloginpage-form-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.adminloginpage-btn {
    margin: .5rem;
}
.adminloginpage-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}