.adm-mediamngmt-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1080px;
    background-color: #ebebeb;
}
.adm-mediamngmt-header {
    padding: 1rem;
    
}
.adm-mediamngmt-header h3{
    margin: 0px;
    
}
.adm-mediamngmt-navbar {
    
}
.adm-mediamngmt-body {
    
}
.adm-mediamngmt-footer {
    
}