.adminhomepage-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.adminhomepage-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.adminhomepage-header h3 {
    display: flex;
    width: 100%;
    text-align: start;
    margin: .5rem;
}
.adminhomepage-header p {
    display: flex;
    width: 100%;
    text-align: start;
    margin: 0;
}
.adminhomepage-header-btn {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding-top: 1rem;
}
.adminhomepage-body-container {
    display: flex;
    flex-direction: row;
    width: 100vw; /* Full viewport width */
    height: 100%; /* Full viewport height */
}
.adminhomepage-body {
    display: flex;
    width: 100%; /* Full container width */
    height: 100%; /* Full container height */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.adminhomepage-footer {

}