.adm-mediamgmt-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1080px;
    background-color: #ebebeb;
}
.adm-mediamgmt-header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Padding on top, right, and bottom, but not on left */
    padding: 1rem 1rem 1rem 1rem;  
}
.adm-mediamgmt-header h3{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.adm-mediamgmt-navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #d2d2d2;
    /* Padding on top, right, and bottom, but not on left */
    align-items: center;
    justify-content: center;
}
.adm-mediamgmt-navbar-btn {
    display: flex;
    align-items: center; /* Align icon and text vertically */
}
.adm-mediamgmt-navbar-btn p {
    text-decoration: none;
    color: inherit; /* Use the default text color */
    display: flex;
    align-items: center;
    margin: .5rem;
}
.adm-mediamgmt-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    /* Padding on top, right, and bottom, but not on left */
}
.adm-mediamgmt-footer {
    
}